@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.section-one,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.container {
    display: flex;
}

.section-one {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.extra-bold{
    font-size: 48px;
    font-weight: 700;
}

.signup{
    padding: 6px 32px;
    border: 0;
    border-radius: 8px;
    margin-top: 8px;
    color: #F9FAF8;
}

.hero-content, .placeholder{
    margin: 0 10%;
}

.placeholder {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
}

.section-two{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px
}

img{
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 26px;
}

.random-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 40px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.item{
    width: 180px;
}

.section-three {
    padding: 100px;
    background-color: #E5E7EB;
}

.container-two{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
}

.author{
    font-weight: bold;
    margin-left: auto;
}

.section {
    flex: 1;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.logo{
    font-weight: bold;
    font-size: 24px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
}

.section-four{
    display: flex;
    justify-content: center;
}

.modal{
    width: 800px;
    margin: 100px;
    padding: 40px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.white{
    border: 2px solid;
}

.white-bold{
    font-weight: bold;
    color: #F9FAF8;
}

.text-modal{
    color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}